@model IEnumerable<Barangay_Management_Information_System.Models.Entity.AuditTrail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    List<SelectListItem> actionTypeSLI = new List<SelectListItem>();

    var counter = 0;

    foreach(var type in TempData["ActionTypes"] as List< Barangay_Management_Information_System.Models.Entity.AuditAction >)
    {

        if (type.AuditActionsId == TempData["ActionTypeSelect"].ToString())
        {
            counter += 1;
        }

        actionTypeSLI.Add(new SelectListItem()
        {
            Value = type.AuditActionsId,
            Text = type.Name
        }
        );

    }

    actionTypeSLI.Add(new SelectListItem()
    {
        Value = "",
        Text = "No Filter"
    }
    );

}

<style>
    #sidenav #sidelinks #audit-link {
        background-color: #ececec;
        color: #434e52;
        text-decoration: none;
    }
</style>

<div class="container">

    @if (TempData["alert-type"] != null)
    {
        <div class="alert @TempData["alert-type"] alert-dismissible mb-3">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>@TempData["alert-header"]!</strong> @TempData["alert-msg"]
        </div>
    }

    <h1 class="page-header-title">Audit Trail</h1>

    <div class="card shadow border-0 rounded p-3 mb-5">

        @using (Html.BeginForm("Index", "AuditTrail", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-inline p-3" >
                <div class="form-group">
                    <div class="">
                        <select class="custom-select" name="actionSelected">
                            @{
                                foreach (var sLI in actionTypeSLI)
                                {

                                    if (sLI.Value == TempData["ActionTypeSelect"].ToString())
                                    {
                                        <option value="@sLI.Value" selected>@sLI.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@sLI.Value">@sLI.Text</option>
                                    }


                                }

                                if (counter == 0)
                                {
                                    <option selected>Filter Audit by Type</option>
                                }
                            }

                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <input type="submit" value="Filter" class="btn btn-success ml-2"/>
                    </div>
                </div>
            </div>
        }

        <div class="card-body table-responsive">

            <table class="table table-hover w-100 dt-responsive nowrap" id="table">
                <thead>
                    <tr>
                        <th>
                            Audit Type
                        </th>
                        <th>
                            Username
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Message)
                        </th>
                        <th>
                            Date Recorded
                        </th>
                        <th>
                            Time Recorded
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="">
                            <td class="font-italic text-center">
                                @item.AuditAction.Name
                            </td>
                            <td class="font-weight-bold">
                                @item.AspNetUser.UserName
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Message)
                            </td>
                            <td>
                                @item.DateAction.ToLongDateString()
                            </td>
                            <td>
                                @item.DateAction.ToShortTimeString()
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>

</div>

@section scripts{

    <script>

    $(document).ready(function () {
        $('#table').DataTable({
            "order": [[3, "desc"]],
            "order": [[4, "desc"]]
        });
    });

    </script>

}