@model IEnumerable<Barangay_Management_Information_System.Models.Entity.ResidentsInformation>

@{
    ViewBag.Title = "Residents";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<style>
    #sidenav #sidelinks #account-link {
        background-color: #ececec;
        color: #434e52;
        text-decoration: none;
    }
</style>

<div class="container">

    <div class="row">
        <div class="col-md-6">
            <h1 class="page-header-title mb-2">Sinisian Residents</h1>
        </div>

        <div class="col-md-6">
            <button class="btn btn-success float-right p-2" onclick="AddUpdateResident('')" style="font-weight:600"><span class="	fas fa-user-plus mr-2" style="font-size:18px"></span>Record Resident</button>
        </div>
    </div>

    <div class="card shadow border-0 rounded p-3 mb-5">
        <div class="card-body table-responsive">

            <div class="">
                <table class="table table-striped w-100 dt-responsive nowrap" id="table">
                    <thead>
                        <tr class="">
                            <th>
                                Last Name
                            </th>
                            <th>
                                First Name
                            </th>
                            <th>
                                Middle Name
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td style="font-weight:600; font-size:16px">
                                        @Html.DisplayFor(modelItem => item.LastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MiddleName)
                                    </td>
                                    <td class="text-center">
                                        <button onclick="ViewResident('@item.ResidentId')" class="btn btn-success btn-sm mr-2 ml-2"><span class="fa fa-info-circle mr-2 ml-2" style="font-size:18px"></span></button>
                                        <button onclick="AddUpdateResident('@item.ResidentId')" class="btn btn-primary btn-sm mr-2 ml-2"><span class="fas fa-user-edit mr-2 ml-2" style="font-size:18px"></span></button>
                                        <a href="@Url.Action("", "", new {  })" class="btn btn-danger btn-sm mr-2 ml-2"><span class="fas fa-skull-crossbones mr-2 ml-2" style="font-size:18px"></span></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>

<div class="modal fade rounded shadow-lg mt-5" id="modal-for-view" style="min-width:500px;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header" @*style="background-image: linear-gradient(100deg, #00533f, #00bf8f);"*@>
                <!-- Heading -->
                <h3 class="modal-title p-2" @*style="color: #ffffff;"*@ style="background-color: #fafafa">Resident's Complete Information</h3>
                <a href="#" class="close" data-dismiss="modal" @*style="color: #fafafa;"*@>&times;</a>
            </div>

            <div class="modal-body" id="modal-view-body">
                <!-- Content Body -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade rounded shadow-lg mt-5" id="modal-for-add" style="min-width:500px;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header" @*style="background-image: linear-gradient(100deg, #00533f, #00bf8f);" *@>
                <!-- Heading -->
                <h3 class="modal-title p-2" @*style="color: #ffffff;" *@ style="background-color: #fafafa">Record New Sinisian Resident</h3>
                <a href="#" class="close" data-dismiss="modal" @*style="color: #fafafa;" *@>&times;</a>
            </div>

            <div class="modal-body" id="modal-add-body">
                <!-- Content Body -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade rounded shadow-lg mt-5" id="modal-for-update" style="min-width:500px;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header" @*style="background-image: linear-gradient(100deg, #00533f, #00bf8f);" *@>
                <!-- Heading -->
                <h3 class="modal-title p-2" @*style="color: #ffffff;" *@ style="background-color: #fafafa">Update Record of Resident</h3>
                <a href="#" class="close" data-dismiss="modal" @*style="color: #fafafa;" *@>&times;</a>
            </div>

            <div class="modal-body" id="modal-update-body">
                <!-- Content Body -->
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        });

        var ViewResident = function (residentID) {

            var url = "/Residents/ViewResident?residentID=" + residentID;

            $("#modal-view-body").load(url, function () {
                $("#modal-for-view").modal("show");

            })

        }

        var AddUpdateResident = function (residentID) {

            if (residentID == "") {

                var url = "/Residents/AddUpdateResident?residentID=";

                $("#modal-add-body").load(url, function () {
                    $("#modal-for-add").modal("show");

                })

            } else {

                var url = "/Residents/AddUpdateResident?residentID=" + residentID;

                $("#modal-update-body").load(url, function () {
                    $("#modal-for-update").modal("show");

                })

            }

        }
        
    </script>
} 