@model IEnumerable<Barangay_Management_Information_System.Models.Entity.ResidentsInformation>

@{
    ViewBag.Title = "Assign Special Officials";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    List<SelectListItem> positionsSLI = new List<SelectListItem>();

    foreach (var position in TempData["Positions"] as List<Barangay_Management_Information_System.Models.Entity.AssignedPosition>)
    {
        positionsSLI.Add(new SelectListItem()
        {
            Text = position.Name,
            Value = position.PositionId
        });
    }
}

<style>
    #sidenav #sidelinks #barangay-officials-link {
        background-color: #ececec;
        color: #434e52;
        text-decoration: none;
    }
</style>


<div class="container">

    <h1 class="page-header-title">Special Positions</h1>

    <div class="card shadow border-0 rounded p-3 mb-5">
        <div class="card-body">

            @using (Html.BeginForm("AssignSpecialOfficials", "BarangayOfficials", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="row mb-3">
                    <div class="form-group mb-2 col-md-4">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><span class="fa fa-search-plus"></span></span>
                            </div>
                            <input type="text" id="filterInput" placeholder="Search for names.." class="form-control">
                        </div>
                    </div>

                    <div class="form-group mb-2 col-md-4">
                        <div class="form-inline rounded pl-2 pr-2">
                            <div class="form-group">
                                <div class="">
                                    <select class="custom-select" name="positionId">
                                        @{
                                            foreach (var sLI in positionsSLI)
                                            {
                                                <option value="@sLI.Value">@sLI.Text</option>
                                            }
                                        }
                                        <option value="none" selected>Select Position</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <input type="submit" value="Assign for Position" class="btn btn-success float-right" />
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped border-0" id="">
                        <thead class="">
                            <tr class="">
                                <th class="">
                                    Last Name
                                </th>
                                <th class="">
                                    First Name
                                </th>
                                <th class="">
                                    Middle Name
                                </th>
                                <th class="text-center">
                                    Select
                                </th>
                            </tr>
                        </thead>

                        <tbody id="table">
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr class="">
                                        <td style="font-size:16px; font-weight:600px">
                                            @Html.DisplayFor(modelItem => item.LastName)
                                        </td>
                                        <td class="">
                                            @Html.DisplayFor(modelItem => item.FirstName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MiddleName)
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" name="residentIDs" value="@item.ResidentId" class="" />
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>

                    </table>
                </div>

                <a href="#main" class="btn btn-primary"><span class="fa fa-angle-double-up" style="font-size: 20px"></span></a>
            }

        </div>
    </div>

</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#filterInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#table tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}