@model Barangay_Management_Information_System.Models.Entity.ResidentsInformation

@{
    ViewBag.Title = "Create Barangay Clearance";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    var date = DateTime.Now;

    var today = DateTime.Today;
    var age = today.Year - Model.Birthday.Year;
    if (Model.Birthday > today.AddYears(-age))
    {
        age--;
    }

    var dayDate = date.Month;

}

@* JSPDF *@

<script src="~/Scripts/JSPDF/jquery/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/JSPDF/jquery/jquery-ui-1.8.17.custom.min.js"></script>
<script src="~/Scripts/JSPDF/dist/jspdf.debug.js"></script>
<script src="~/Scripts/JSPDF/barangay-clearance-writer.js"></script>


<style>
    #sidenav #sidelinks #barangay-clearance-link {
        background-color: #ececec;
        color: #434e52;
        text-decoration: none;
    }

    .form-control {
        color: #003f30;
        letter-spacing: 2px;
    }

        .form-control:focus {
            border-color: #28a745;
            box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
        }
</style>

<div class="container">

    <input type="hidden" id="firstName" value="@Model.FirstName" />
    <input type="hidden" id="middleName" value="@Model.MiddleName" />
    <input type="hidden" id="lastName" value="@Model.LastName" />
    <input type="hidden" id="age" value="@age" />

    @if (TempData["alert-type"] != null)
    {
        <div class="alert @TempData["alert-type"] alert-dismissible mb-3">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>@TempData["alert-header"]!</strong> @TempData["alert-msg"]
        </div>
    }

    <h1 class="page-header-title">Generate Barangay Clearance</h1>

    <div class="card shadow border-0 rounded p-3 mb-5">
        <div class="card-body">

            <div>

                <div class="row">
                    <div class="col-md-12 ">
                        <p class="text-right" style="font-size: 16px">@date.ToLongDateString()</p>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-12">
                        <label>Surname</label>
                        <div class="form-control-plaintext border rounded p-2" style="letter-spacing: 1px; font-size: 15px;">
                            @Model.LastName
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-6">
                        <label>First Name</label>
                        <div class="form-control-plaintext border rounded p-2" style="letter-spacing: 1px; font-size: 15px;">
                            @Model.FirstName
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label>Middle Name</label>
                        <div class="form-control-plaintext border rounded p-2" style="letter-spacing: 1px; font-size: 15px;">
                            @Model.MiddleName
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-lg-6">
                        <label>Date of Birth</label>
                        <div class="form-control-plaintext border rounded p-2" style="letter-spacing: 1px; font-size: 15px;">
                            @Model.Birthday.ToLongDateString()
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <label>Age</label>
                        <div class="form-control-plaintext border rounded p-2" style="letter-spacing: 1px; font-size: 15px;">
                            @age y/o
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <label>Message</label>

                        @{
                            var textColor = "text-danger";
                            var msg = "Underage";
                            if (age >= 18)
                            {
                                textColor = "text-success";
                                msg = "Legal Age";
                            }
                        }

                        <div class="form-control-plaintext border rounded p-2 @textColor font-weight-bold" style="letter-spacing: 1px; font-size: 15px;">
                            @msg
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-12">
                        <button class="btn btn-success float-right" onclick="buttonGenerateClick()">Generate Clearance Form</button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

@section scripts{

    <script>

        function buttonGenerateClick() {
            generateClearanceForm();
        }

    </script>

}