@model IEnumerable<Barangay_Management_Information_System.Models.Entity.ResidentsInformation>

@{
    ViewBag.Title = "Create Account";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    #sidenav #sidelinks #account-link {
        background-color: #ececec;
        color: #434e52;
        text-decoration: none;
    }
</style>

<div class="container">

    <h1 class="page-header-title">Create Account</h1>

    <div class="card shadow border-0 rounded p-3 mb-5">
        <div class="card-body table-responsive">
            <table class="table table-hover w-100 dt-responsive nowrap" id="table">
                <thead>
                    <tr>
                        <th>
                            Surname
                        </th>
                        <th>
                            First Name
                        </th>
                        <th>
                            Middle Name
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Birthday)
                        </th>
                        <th>
                            Age
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.Sex)
                        </th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr onclick="Register('@item.ResidentId')">
                            <td class="font-weight-bold">
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MiddleName)
                            </td>
                            <td>
                                @item.Birthday.ToString("MMM dd, yyyy")
                            </td>
                            <td>
                                @{
                                    var today = DateTime.Today;
                                    var age = today.Year - item.Birthday.Year;
                                    if (item.Birthday > today.AddYears(-age))
                                    {
                                        age--;
                                    }
                                }
                                <span>@age y/o</span>
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Sex)
                            </td>*@
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>

<div class="modal fade rounded shadow-lg mt-5" id="modal-for-register" style="min-width:490px;">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header" style="background-image: linear-gradient(100deg, #00533f, #00bf8f);">
                <!-- Heading -->
                <h3 class="modal-title" style="color: #ffffff;">Register Resident</h3>
                <a href="#" class="close" data-dismiss="modal" style="color: #fafafa;">&times;</a>
            </div>

            <div class="modal-body" id="modal-register-body">
                <!-- Content Body -->
            </div>
        </div>
    </div>
</div>

@section scripts{
    
    <script>

        var Register = function (id) {

            var url = "/AdminAccount/RegisterResident?residentId=" + id;

            $("#modal-register-body").load(url, function () {
                $("#modal-for-register").modal("show");

            })

        }

        $(document).ready(function () {
            $('#table').DataTable();
        });
    </script>
    
}