<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sinisian MIS</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>

        body {
          font-family: "Segoe UI";
          background-color: #fafafa;
          min-width: 450px;
        }

        @* side nav *@

        .sidenav {
          height: 100%;
          width: 250px; @**@
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          overflow-x: hidden;
          transition: 0.5s;
          background-color: #434e52;
        }

        .sidenav a {
          display: block;
          transition: 0.3s;
        }

        #sidelinks a {
          font-size: 17px;
          font-weight: 600;
          padding: 20px 20px 20px 20px;
          color: #ececec;
        }


        #sidelinks a:hover {
          background-color: #ececec;
          color: #434e52;
          text-decoration:none;

        }

        #sidelinks .sublink {
            padding-left: 40px;
            font-size: 15px;
            background-color: #698474;
            color: #fafafa;
        }

        @* end side nav *@

        #main {
          margin-left:250px;@**@
          transition: margin-left .5s;
        }

        @@media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }
          .sidenav a {font-size: 18px;}
        }


        .navbar, nav {
            background-color: #ffffff;
        }

    </style>

</head>
<body>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    @*<div class="navbar navbar-expand-lg navbar-fixed-top mb-5 bg-dark navbar-dark">
            <div class="container">

                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    @Html.ActionLink("Flores De Mayo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>

                <div class="navbar-collapse collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"> <a href="@Url.Action("", "", new { })" class="nav-link">Lorem</a> </li>

                    </ul>
                    <div class="float-right">
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        </div>*@

    @using Microsoft.AspNet.Identity


    <div id="sidenav" class="sidenav shadow-lg">

        @*<div class="" style="height:68px" id="highlight">
                <img src="~/Content/Images/BMIS Logo.PNG" height="70" width="170" class="mx-auto my-auto d-flex"/>
            </div>*@



        <div class="mt-5" id="account-details">
            <img src="@TempData["user-profile-photo"]" height="100" width="100" class="rounded-circle mx-auto d-block border" />

            @{
                var name = @User.Identity.GetUserName();

                name = name.Substring(0, name.IndexOf('@'));
            }

            <h1 class="text-center" style="font-size:21px; font-weight:700; margin-top:10px; color: #ececec;">@name</h1>
            <p class="text-center" style="color: #ececec; font-weight: 500; ">Admin</p>
        </div>


        <div class="mt-5" id="sidelinks">
            <a href="#"><span class="fa fa-archive mr-3"></span>Audit Trail</a>

            <a href="" data-toggle="collapse" data-target="#accounts-collapse" aria-expanded="false" aria-controls="accounts-collapse"><span class="fa fa-user-circle mr-3"></span>Account <span class="fa fa-angle-right" style="font-size: 13px; margin-left: 104px;"></span></a>
            <div id="accounts-collapse" class="collapse" data-parent="#sidelinks">
                <a href="#" class="sublink">Clients</a>
                <a href="#" class="sublink">Contact</a>
            </div>

            <a href="#"><span class="fa  fa-folder-open	 mr-3"></span>Barangay Clearance</a>

            <a href="" data-toggle="collapse" data-target="#officials-collapse" aria-expanded="false" aria-controls="officials-collapse"><span class="fa fa-sitemap mr-3"></span>Barangay Officials <span class="fa fa-angle-right" style="font-size: 13px; margin-left: 28px;"></span></a>
            <div id="officials-collapse" class="collapse" data-parent="#sidelinks">
                <a href="#" class="sublink">Clients</a>
                <a href="#" class="sublink">Contact</a>
            </div>

            <a href="/Dashboard/Index"><span class="fa fa-area-chart mr-3"></span>Dashboard</a>

            <a href="" data-toggle="collapse" data-target="#residents-collapse" aria-expanded="false" aria-controls="residents-collapse"><span class="fa fa-id-card mr-3"></span>Sinisian Residents <span class="fa fa-angle-right" style="font-size: 13px; margin-left: 28px;"></span></a>
            <div id="residents-collapse" class="collapse" data-parent="#sidelinks">
                <a href="#" class="sublink">Clients</a>
                <a href="#" class="sublink">Contact</a>
            </div>

            <a href="" data-toggle="collapse" data-target="#summon-collapse" aria-expanded="false" aria-controls="summon-collapse"><span class="fa fa-ban mr-3"></span>Summon <span class="fa fa-angle-right" style="font-size: 13px; margin-left: 100px;"></span></a>
            <div id="summon-collapse" class="collapse" data-parent="#sidelinks">
                <a href="#" class="sublink">Clients</a>
                <a href="#" class="sublink">Contact</a>
            </div>

        </div>

    </div>

    <div id="main" class="">


        <!-- NAV -->

        <nav class="navbar navbar-expand-lg shadow" id="topNav">

            <span style="font-size:25px;cursor:pointer; color:#003f30; font-weight:bold;" class="mr-2" onclick="toggleNav()">&#9776;</span>

            <a class="navbar-brand mx-auto-md" href="#">
                <img src="~/Content/Images/Sinisian.png" width="55" height="55" class="d-inline-block align-top" alt="">
            </a>

            @*<span style="font-size:25px;cursor:pointer; color:#003f30; font-weight:bold;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dropdown" aria-controls="dropdown" aria-expanded="false" aria-label="Toggle navigation">&#9776;</span>*@

            <div class="ml-auto">

                <ul class="nav navbar-nav">
                    <li class="nav-item dropdown ">

                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">

                            <img src="@TempData["user-profile-photo"]" width="35" height="35" class="rounded-circle" />
                            <span style="color: #00533f; font-weight: 600;">@User.Identity.GetUserName()</span>
                        </a>
                        <div class="dropdown-menu shadow">
                            <a class="dropdown-item" href="">My Account</a>

                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
                            {
                                @Html.AntiForgeryToken()

                                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log Off</a>
                            }

                        </div>
                    </li>
                </ul>

            </div>

        </nav>

        @*<nav class="navbar navbar-expand-lg navbar-light shadow" style="height:75px;">

            <span style="font-size:25px;cursor:pointer; color:#003f30; font-weight:bold;" class="mr-3" onclick="toggleNav()">&#9776;</span>

            <a class="navbar-brand" href="#">
                <img src="~/Content/Images/Sinisian.png" width="55" height="55" class="d-inline-block align-top" alt="">
            </a>

            <div class="w-100 border">

                <div class="float-right">
                    <img src="~/Content/Images/Sinisian.png" width="40" height="40" class="" />
                    <span>My Account</span>
                </div>

            </div>*@

        @*<div class="float-right">
                    @using Microsoft.AspNet.Identity
                    @if (!Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()

                            <ul class="">
                                <li class=""><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link m-3 font-weight-bold" style="color:white;">Log off</a></li>
                            </ul>
                        }
                    }
                </div>

            </nav>*@

        <div class="mt-5">
            @RenderBody()
        </div>
    </div>

    <script>
        function toggleNav() {

            var navWidth = document.getElementById('sidenav'), style = window.getComputedStyle(navWidth), width = style.getPropertyValue('width');

            if (width == "0px") {
                document.getElementById("sidenav").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
                document.getElementById("topNav").style.marginLeft = "0px";

            } else if (width == "250px") {
                document.getElementById("sidenav").style.width = "0";
                document.getElementById("main").style.marginLeft = "0";
                document.getElementById("topNav").style.marginLeft = "0px";
            }
        }
    </script>


    @RenderSection("scripts", required: false)

</body>
</html>

