
@{
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<style>

    body {
        font-family: "Segoe UI";
        background-color: #fafafa;
        min-width: 450px;
    }

    @* side nav *@

    .sidenav {
        height: 100%;
        width: 250px; @**@
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        transition: 0.5s;
        background-color: #434e52;
    }

    .sidenav a, .sidenav p {
        display: block;
        transition: 0.3s;
    }

    #sidelinks a, #sidelinks p {
        font-size: 14px;
        font-weight: 600;
        padding: 20px 20px 20px 20px;
        color: #ececec;
    }


    #sidelinks a:hover, #sidelinks p:hover {
        background-color: #ececec;
        color: #434e52;
        text-decoration:none;

    }

    #sidelinks .sublink {
        padding-left: 60px;
        font-size: 13px;
        background-color: #698474;
        color: #fafafa;
    }

    #sidelinks .fa {
        font-size: 14px;
    }

    @* end side nav *@

    #main {
        margin-left:250px;@**@
        transition: margin-left .5s;
    }

    @@media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }
        .sidenav a {font-size: 18px;}
    }


    .navbar, nav {
        background-color: #ffffff;
    }

    @* Global styles intended for each page *@

    .page-header-title {
        font-family: 'Myriad Hebrew';
        font-weight: 500;
        font-size: 35px;
    }

    @* end global styles*@

    @* Shake *@

    .hvr-icon-spin {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    }

    .hvr-icon-spin .hvr-icon {
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-timing-function: ease-in-out;
        transition-timing-function: ease-in-out;
    }

    .hvr-icon-spin:hover .hvr-icon, .hvr-icon-spin:focus .hvr-icon, .hvr-icon-spin:active .hvr-icon {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }



    @* end shake *@
</style>

@*<div class="navbar navbar-expand-lg navbar-fixed-top mb-5 bg-dark navbar-dark">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("Flores De Mayo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="nav-item"> <a href="@Url.Action("", "", new { })" class="nav-link">Lorem</a> </li>

                </ul>
                <div class="float-right">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>*@

@using Microsoft.AspNet.Identity


<div id="sidenav" class="sidenav shadow-lg">

    @*<div class="" style="height:68px" id="highlight">
                <img src="~/Content/Images/BMIS Logo.PNG" height="70" width="170" class="mx-auto my-auto d-flex"/>
        </div>*@

    <div class="mt-4" id="account-details">
        @if (TempData["user-profile-photo"] != null)
        {
            <img src="@TempData["user-profile-photo"]" height="100" width="100" class="rounded-circle mx-auto d-block border" />
        }
        else
        {
            <img src="~/Content/Images/User Profile Photo/user.png" height="100" width="100" class="rounded-circle mx-auto d-block border" />
        }

        @{
            var name = @User.Identity.GetUserName();
        }

        <h1 class="text-center" style="font-size:21px; font-weight:600; margin-top:10px; color: #ececec;">@name</h1>

        @if (User.IsInRole("Admin"))
        {
            <p class="text-center" style="color: #ececec; font-weight: 500; ">Admin</p>
        }
        else if (User.IsInRole("CIO"))
        {
            <p class="text-center" style="color: #ececec; font-weight: 500; ">Chief Information Officer</p>
        }
        else
        {
            <p class="text-center" style="color: #ececec; font-weight: 500; ">Assistant Admin</p>
        }

    </div>


    <div class="mt-5" id="sidelinks">
        <a href="/AuditTrail/Index" class="hvr-icon-spin" id="audit-link"><span class="fa fa-archive mr-3 hvr-icon"></span>Audit Trail</a>

        <a href="" class="hvr-icon-spin" data-toggle="collapse" data-target="#accounts-collapse" aria-expanded="false" aria-controls="accounts-collapse" id="account-link">
            <span class="fa fa-user-circle hvr-icon mr-3"></span>
            Account
            <span class="fa fa-angle-right" style="font-size: 13px; margin-left: 115px;"></span>
        </a>
        <div id="accounts-collapse" class="collapse" data-parent="#sidelinks">
            <a href="/AdminAccount/CreateAccount" class="sublink">Create Account</a>
            <a href="/AdminAccount/ModifyAccount" class="sublink">Modify Users' Account</a>
        </div>

        <a href="/BarangayClearance/Index" class="hvr-icon-spin" id="barangay-clearance-link"><span class="fa fa-folder-open hvr-icon mr-3"></span>Barangay Clearance</a>

        <a href="" class="hvr-icon-spin" data-toggle="collapse" data-target="#officials-collapse" aria-expanded="false" aria-controls="officials-collapse">
            <span class="fa fa-sitemap hvr-icon mr-3"></span>
            Barangay Officials
            <span class="fa fa-angle-right" style="font-size: 13px; margin-left: 53px;"></span>
        </a>
        <div id="officials-collapse" class="collapse" data-parent="#sidelinks">
            <a href="/BarangayOfficials/Index" class="sublink">Elect</a>
            <a href="#" class="sublink">Contact</a>
        </div>

        <a href="/Dashboard/Index" class="hvr-icon-spin"><span class="fa fa-area-chart hvr-icon mr-3"></span>Dashboard</a>

        <a href="" class="hvr-icon-spin" data-toggle="collapse" data-target="#residents-collapse" aria-expanded="false" aria-controls="residents-collapse">
            <span class="fa fa-id-card hvr-icon mr-3"></span>
            Sinisian Residents
            <span class="fa fa-angle-right" style="font-size: 13px; margin-left: 52px;"></span>
        </a>
        <div id="residents-collapse" class="collapse" data-parent="#sidelinks">
            <a href="#" class="sublink">Clients</a>
            <a href="#" class="sublink">Contact</a>
        </div>

        <a href="" class="hvr-icon-spin" data-toggle="collapse" data-target="#summon-collapse" aria-expanded="false" aria-controls="summon-collapse">
            <span class="fa fa-ban hvr-icon mr-3"></span>
            Summon
            <span class="fa fa-angle-right" style="font-size: 13px; margin-left: 112px;"></span>
        </a>
        <div id="summon-collapse" class="collapse" data-parent="#sidelinks">
            <a href="#" class="sublink">Clients</a>
            <a href="#" class="sublink">Contact</a>
        </div>

        <p class="w-100" style="position:absolute; bottom:0;"><span id="date-container" class="text-center"></span></p>

    </div>

</div>

<!-- Main Content of each pages -->
<div id="main" class="">

    <!-- NAV -->
    <nav class="navbar navbar-expand-lg shadow" id="topNav">

        <span style="font-size:25px;cursor:pointer; color:#003f30; font-weight:bold;" class="mr-2" onclick="toggleNav()">&#9776;</span>

        <a class="navbar-brand mx-auto-md" href="#">
            <img src="~/Content/Images/Sinisian.png" width="55" height="55" class="d-inline-block align-top" alt="">
        </a>

        @*<span style="font-size:25px;cursor:pointer; color:#003f30; font-weight:bold;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dropdown" aria-controls="dropdown" aria-expanded="false" aria-label="Toggle navigation">&#9776;</span>*@

        <div class="ml-auto">

            <ul class="nav navbar-nav">
                <li class="nav-item dropdown ">

                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">

                        @if (TempData["user-profile-photo"] != null)
                        {
                            <img src="@TempData["user-profile-photo"]" width="35" height="35" class="rounded-circle" />
                        }
                        else
                        {
                            <img src="~/Content/Images/User Profile Photo/user.png" width="35" height="35" class="rounded-circle" />
                        }

                        <span style="color: #00533f; font-weight: 600;">@User.Identity.GetUserName()</span>
                    </a>
                    <div class="dropdown-menu shadow">
                        <a class="dropdown-item" href="/PersonalAccount/Index">My Account</a>

                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
                        {
                            @Html.AntiForgeryToken()

                            <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Sign Off</a>
                        }

                    </div>
                </li>
            </ul>

        </div>

    </nav>

    @*<nav class="navbar navbar-expand-lg navbar-light shadow" style="height:75px;">

        <span style="font-size:25px;cursor:pointer; color:#003f30; font-weight:bold;" class="mr-3" onclick="toggleNav()">&#9776;</span>

        <a class="navbar-brand" href="#">
            <img src="~/Content/Images/Sinisian.png" width="55" height="55" class="d-inline-block align-top" alt="">
        </a>

        <div class="w-100 border">

            <div class="float-right">
                <img src="~/Content/Images/Sinisian.png" width="40" height="40" class="" />
                <span>My Account</span>
            </div>

        </div>*@

    @*<div class="float-right">
                @using Microsoft.AspNet.Identity
                @if (!Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        <ul class="">
                            <li class=""><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link m-3 font-weight-bold" style="color:white;">Log off</a></li>
                        </ul>
                    }
                }
            </div>

        </nav>*@

    <div class="mt-5">
        @RenderBody()
    </div>

</div>

<script>

    function toggleNav() {

        var navWidth = document.getElementById('sidenav'), style = window.getComputedStyle(navWidth), width = style.getPropertyValue('width');

        if (width == "0px") {
            document.getElementById("sidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            document.getElementById("topNav").style.marginLeft = "0px";

        } else if (width == "250px") {
            document.getElementById("sidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.getElementById("topNav").style.marginLeft = "0px";
        }
    }


</script>

@RenderSection("scripts", required: false)